<!DOCTYPE html>
<html lang="en"
	xmlns:th="http://www.thymeleaf.org"
	layout:decorator="layouts/main">
<head>
	<title>Create New Post</title>
</head>
<body>
		
	<div layout:fragment="content">
	
		<h2>Create New Post</h2>
		<br/>

		<form class="form-horizontal" th:object="${post}" th:action="@{/admin/post/save}" method="post">
			<input type="hidden" th:field="*{id}" />
			<div th:class="form-group" th:classappend="${#fields.hasErrors('title')}? 'has-error'">
				<label class="col-sm-2 control-label">Title <span class="required">*</span></label>
				<div class="col-md-10">
					<input type="text" class="form-control" th:field="*{title}"/>
					<span th:if="${#fields.hasErrors('title')}" th:errors="*{title}" th:class="help-block">Title Errors</span>
				</div>
			</div>
			<div th:class="form-group" th:classappend="${#fields.hasErrors('slug')}? 'has-error'">
		    	<label class="col-sm-2 control-label">Slug <span class="required">*</span></label>
		    	<div class="col-md-10">
		    		<input type="text" class="form-control" th:field="*{slug}" />
		    		<span th:if="${#fields.hasErrors('slug')}" th:errors="*{slug}" th:class="help-block">Slug Errors</span>
		    	</div>
		  	</div>
			<div th:class="form-group" th:classappend="${#fields.hasErrors('postedOn')}? 'has-error'">
				<label class="col-sm-2 control-label">Posted On <span class="required">*</span></label>
				<div class="col-md-10">
					<input type="datetime" class="form-control" th:field="*{postedOn}" />
					<span th:if="${#fields.hasErrors('postedOn')}" th:errors="*{postedOn}" th:class="help-block">Posted On Errors</span>
				</div>
			</div>
			<div th:class="form-group" th:classappend="${#fields.hasErrors('keywords')}? 'has-error'">
		    	<label class="col-sm-2 control-label">Keywords <span class="required">*</span></label>
		    	<div class="col-md-10">
		    		<input type="text" class="form-control" th:field="*{keywords}" />
		    		<span th:if="${#fields.hasErrors('keywords')}" th:errors="*{keywords}" th:class="help-block">Keywords Errors</span>
		    	</div>
		  	</div>
		  	<div class="form-group">
		    	<label class="col-sm-2 control-label">Active</label>
		    	<div class="col-md-10">
					<div class="checkbox">
					  <label>
					    <input type="checkbox" th:field="*{active}"/>
					  </label>
					</div>    		
		    	</div>
		  	</div>
			<div th:class="form-group" th:classappend="${#fields.hasErrors('author')}? 'has-error'">
		    	<label class="col-sm-2 control-label">Author <span class="required">*</span></label>
		    	<div class="col-md-10">
					<select class="form-control" th:field="*{author}">
						<option value="">Select Author</option>
						<option th:each="author : ${authors}" th:value="${author.id}" th:text="${author.firstName + ' ' + author.lastName}">Authors</option>
					</select>
					<span th:if="${#fields.hasErrors('author')}" th:errors="*{author}" th:class="help-block">Author Errors</span>
		    	</div>
		  	</div>		  	
			<div class="form-group">
				<label class="col-sm-2 control-label">Teaser</label>
				<div class="col-md-10">
					<textarea class="form-control" rows="3" th:field="*{teaser}">teaser</textarea>
				</div>
			</div>
			<div th:class="form-group" th:classappend="${#fields.hasErrors('body')}? 'has-error'">
				<label class="col-sm-2 control-label">Body <span class="required">*</span></label>
				<div class="col-md-10">
					<textarea class="form-control" rows="7" th:field="*{body}">body</textarea>
					<span th:if="${#fields.hasErrors('body')}" th:errors="*{body}" th:class="help-block">Body Errors</span>
				</div>
			</div>		  	
			<button type="submit" class="btn btn-primary pull-right">Submit</button>
		</form>
		
		<br/><br/><br/>
		
	</div>
		
</body>
</html>